.official-search-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column; /* This will stack the children vertically */
  align-items: center; /* This will center the children horizontally */
  width: 100%;
  z-index: 3000;
}


.linesman-search-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column; /* This will stack the children vertically */
  align-items: center; /* This will center the children horizontally */
  width: 100%;
  z-index: 2000;
}

.search-bar-with-button {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  width: 300px;
  transform: translateX(25px);

}

.radio-button-container {
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
