.no-matches {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 25px;
  font-size: 24px;
  font-weight: 600;
  box-shadow: inset 0 0 0 5px rgb(44, 123, 229) !important;
}

.matches-tooltip-container {
  visibility: hidden;
  color: black;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  z-index: 100;
  left: 50%;
  background-color: #fff;
  transform: translateX(-50%);
  white-space: nowrap;
  width: 280px;
  border: 2px solid #0b3e80;
}

.matches-tooltip-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b3e80;
  height: 30px;
}

.matches-tooltip-header-container h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.official-inputs {
  padding: 5px;
  margin: 0;
}

.official-inputs label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.official-inputs input[type="text"] {
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 5px 10px;
  width: 160px;
}

.matches-official {
  border: 2px solid #49a949;
  border-radius: 4px;
  background-color: #7dc67d;
}

.official-inputs label:last-child input[type="text"] {
  margin-bottom: 0;
}

.matches-tooltip-trigger:hover + .matches-tooltip-container {
  visibility: visible;
}

.matches-tooltip-container::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #0b3e80;
}
