.toggle-button-cover {
  width: 75px;
  height: 44px;
  font-family: "Montserrat", sans-serif;
}

.knobs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
}

.button {
  position: relative;
  top: 50%;
  width: 75px;
  height: 44px;
  margin: -22px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 4px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 10 */
#button .knobs:before,
#button .knobs:after,
#button .knobs span {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 4px;
  transition: 0.3s ease all;
}

#button .knobs:before {
  content: "";
  left: 6px;
  background-color: rgb(44, 123, 229);
}

#button .knobs:after {
  content: "OR";
  right: 4px;
  color: #4e4e4e;
}

#button .knobs span {
  display: inline-block;
  left: 4px;
  color: #fff;
  z-index: 1;
}

#button .checkbox:checked + .knobs span {
  color: #4e4e4e;
}

#button .checkbox:checked + .knobs:before {
  left: 43px;
  background-color: #f44336;
}

#button .checkbox:checked + .knobs:after {
  color: #fff;
}

#button .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}
