.search-wrapper {
  position: relative;
  width: 380px;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.search-clear-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("/public/assets/x.png");
  background-size: contain;
  height: 16px;
  width: 16px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.search-clear-icon:hover {
  opacity: 1;
}

.search {
  appearance: auto;
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  border: 1px solid #ced4da;
  padding: 10px;
  border-width: 1px;
  color: rgb(73, 80, 87);
  cursor: text;
  font-size: 15px;
  line-height: 22px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-width 0.15s ease-in-out;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  outline: none;
}

.search:focus {
  border-width: 1px;
  border-color: rgba(44, 124, 229, 0.75);
  box-shadow: 0 0 0 0.2rem rgba(44, 123, 229, 0.25);
}

.suggestions-container {
  position: absolute;
  background-color: #fff;
  margin-top: 3px;
  border: 1px solid #ddd;
  border-top: none;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 20;
  top: 100%;
  left: 0;
  max-height: 140px;
  overflow-y: scroll;
}

.suggestion {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #eee;
  z-index: 9999;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: rgb(248, 248, 248);
  }
}
