.search-with-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.search-bar-secondary {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  transform: translateX(-36px);
}
